.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.animate:hover > .show {
  animation: fade-in 1.5s;
  display: block !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.responsive__icon {
  margin-left: 100%;
}
.responsive__icon {
  margin-top: 0;
}

.responsive__image{

}
@media screen and (max-width: 450px) {
  .responsive__icon {
    margin-left: 0;
  }
  .responsive__title {
    margin-top: 60%;
  }
}



@media screen and (max-width: 640px) {
  .responsive__icon {
    margin-left: 0;
  }
  .responsive__title {
    margin-top: 30%;
  }
  .responsive__image{
    width: 130px !important;
  }
}

@media screen and (max-width: 500px) {
  .responsive__icon {
    margin-left: 0;
  }
  .responsive__title {
    margin-top: 50%;
  }
  .responsive__image{
    width: 100px !important;
  }
}